.alert {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #0AB811;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    // width:50%;
}

#clock {
    font-size: 30px;
}

.hours {
    color: ;
}

.minutes {
    color: ;
}

.seconds {
    color: ;
}

.table {
    border-collapse: collapse;
    margin:40px 0 ;
}

.table th, td {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

.table th {
    background-color: #D3D3D3;
}

.notification {
  position: fixed;
  z-index: 1000;
  padding: 12px;
  border: 1px solid black;
  -webkit-border-radius:0 0 5px 5px;
  font-size: 16px;
  font-family: sans-serif;
  background: #1B2032;
  text-align: center;
  color: white;
}

.welcome {

}
#example {
    width: 300px;

    height: 200px;

    border: 25px solid #E8C48F; /* рамка 25px */

    padding: 20px;              /* поля 20px */

    overflow: auto;             /* прокрутка */
}
.placeholder {
    margin : auto;
    background-color:#7F7FA3;
    text-align:center;
    color:#E0E0E0;
    font-size:25px;
    font-family = sans-serif;
    -webkit-border-radius:10px;
}
.note {
  position: absolute;
  z-index: 1000;
  padding: 5px;
  // border: 1px solid black;
  // border-left: solid 1px;
  background: #FFD800;
  text-align: center;
  font: normal 14px Helvetica ;
}
