.alert {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #0AB811;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    // width:50%;
}

#clock {
    font-size: 30px;
}

.hours {
    color: ;
}

.minutes {
    color: ;
}

.seconds {
    color: ;
}

.table {
    border-collapse: collapse;
    margin:10px 0 ;
}

.table th, td {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

.table th {
    background-color: #D3D3D3;
}
