@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin helvetica($style:roman) {
    @if ($style==roman) {
        font-family: 'helveticaneuecyrroman', Helvetica, sans-serif;
    }
    @if ($style==medium) {
        font-family: 'helveticaneuecyrmedium', Helvetica, sans-serif;
    }
    @if ($style==light) {
        font-family: 'helveticaneuecyrlight', Helvetica, sans-serif;
    }
}