@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

html {
	height: 100%;
    font-size: 100%;
}
body {
	font: 14px/20px  'Open Sans', Arial, Tahoma,  sans-serif;
	width: 100%;
	height: 100%;
    color: #293237;
    background: #faf8fb;
}

a {color: #293237;}
a:hover {color: #FF020A; text-decoration: none;}
:focus {outline: none;}

i[class*="ic-"] {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/sprite.png) no-repeat;
}

i.ic-time {
    height: 20px;
    width: 17px;
    background-position: 0 0;
}
i.ic-user {
    height: 20px;
    width: 19px;
    background-position: -17px 0;
}

.h-nav {
    float: left;
    padding: 10px 0;
}
.h-nav a {
    position: relative;
    margin-right: 33px;
    font-size: 13px;
    color: #78828C;
}
.h-nav a.active {
    font-weight: 600;
    color: #FF020A;
}
.h-nav a:last-child {margin-right: 0;}
.h-nav a:hover {color: #FF020A;}
.h-nav a i {margin-right: 3px;}
.h-nav-center {
    padding: 10px 30px;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #E8ECF2;
}

.h-nav-tabs {
    padding: 10px 25px 10px 10px;
}
.h-nav-tabs a {
    font-size: 11px;
    text-transform: uppercase;
}
.h-nav-tabs a.act:after {
    position: absolute;
    bottom: -15px;
    left: 50%;
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-left: -4px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
}

.header-bottom {
    background: #FFF;
    padding: 40px 0 25px ;
}

#h-search {
    position: relative;
    max-width: 524px; 
    margin-top: 12px;
}
#h-search input[type="text"] {
    height: 45px;
    width: 100%;
    padding: 0 50px 0 20px;
    font-size: 14px;
    color: #78828C;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
}
#h-search input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    border: none;
    background: transparent url(../img/h-search.png) no-repeat center;
}