extends layouts/layout
block content
    .container
        .row
            .cols.col-12
                h1.title Page Title
            .cols.col-4
                h2 Subtitle
                p Cum extum manducare, omnes historiaes convertam talis, gratis fortises.
            .cols.col-4
                h2 Subtitle
                p Cum extum manducare, omnes historiaes convertam talis, gratis fortises.
            .cols.col-4
                h2 Subtitle
                p Cum extum manducare, omnes historiaes convertam talis, gratis fortises.


    
