body {
  padding: 10px 0;
  transition-property: background-color;
  transition-duration: 2s;
  background-color: #4585A5;
}

body > h1 {
  text-align: center;
}

@keyframes left-to-right {
  from {
    left: 0;

  }
  to {

    left: calc(100% - 50px);
  }
}

.progress {
  margin: 15px 0;
  position: relative;
  width: 50px;
  height: 20px;
  background-color: lime;
  border: 2px solid green;
  /*animation: left-to-right 3s infinite alternate;*/
}
#digit{
  width: 0.5em;
  overflow: hidden;
  font-size:32px;
}
.stripe.animate{
  margin-left:-174px;
  transition: margin-left;
  transition-duration: 9s;
  transition-timing-function:linear;
  transition-delay: -4s;
}
.square{
  position:relative;
  left:0;
  top:0;
  height:20px;
  width:50px;
  background-color: #738aff;
  border:2px solid darkblue;
  margin: 5px 0;
  cursor:pointer;
  /*transition:left 3s;*/
}
.linear{
  left:calc(100% - 80px);
  transition:left;
  transition-duration:1s;
  transition-timing-function: cubic-bezier(0,0,1,1);
}
.bez1{
  left:calc(100% - 80px);
  transition:left;
  transition-duration:2s;
  transition-timing-function: cubic-bezier(0,0.5,0.5,1);
}
.bez2{
  left:calc(100% - 80px);
  transition:left;
  transition-duration:2s;
  transition-timing-function: cubic-bezier(.94,-0.2,.66,1.28);
}
.field{
  margin:15px 0;
  position:relative;
  width:60%;
  height:200px;
  border-bottom:5px solid black;
  background-color: lightgray;
}
.ball{
  position: absolute;
  cursor: pointer;
}
.ball.one{
  left:20%;
}
.ball.two{
  left:50%;
}